openssl_conf = openssl_init

[openssl_init]
providers = provider_sect

[provider_sect]
default = default_sect

[default_sect]
activate = 1

[req]
distinguished_name = req_distinguished_name

[req_distinguished_name]

[ec_params]
curve = prime256v1

[ec_key]
curve = prime256v1
